body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
.Arroz
{color: white;}

header {
    background-color: #292929;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    animation-name: slide-bottom;
    animation-duration: 5s;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    animation-name: rotate-in-diag-2 ;
    animation-duration: 5s;
    animation-delay: 6s;
    }

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    animation-name: slide-right;
    animation-duration: 5s;

}
a {
  color: white;
  text-decoration: none;
  font: arial;

}

article {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}
img {
  background-size: cover;
  padding: 0;
  margin: 0;
  border: 3px solid ;
  border-radius: 10px;
  margin-right: 15px;
  max-width: 35vh;
  border-color: white;
}

@keyframes slide-top {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes slide-bottom {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes slide-right {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  
  